@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
  .container .jumbotron {
    padding-left:46px;
    padding-right:46px;
  }
}
.jumbotron {
  margin-top: 100px;
}

.mainUniversityTables {
  margin-top: 100px;
}

.summoner-heading {
  margin-left: 50px;
}

.summoner-icon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.division-rankings {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 5px;
}

.LP-rankings-soloq {
  text-align: center;
  vertical-align: middle;
}

.summoner-404-heading h1 {
   
}

.not-found-summoner-text {
  color: red;
}




/**
  All Tier, Division and LP Ranking
**/

.uni-ranking-tier-CHALLENGER {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

.uni-ranking-tier-MASTERS {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

.uni-ranking-tier-DIAMOND {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

.uni-ranking-tier-PLATINUM {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

.uni-ranking-tier-GOLD {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

.uni-ranking-tier-SILVER {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

.uni-ranking-tier-BRONZE {
  color: cyan;
  text-transform: lowercase;
  text-transform: capitalize;
}

